#Databases
NEO4J_URI=bolt://localhost:7688
NEO4J_USER=your_username
NEO4J_PASSWORD=your_password

QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=your_collection_name


# llama.cpp server
LLAMA_BASE_URL=http://localhost:8080
LLAMA_MODEL=your-model-name


# App
STATE_FILE=state.json
DISCARDED_LOG=discarded_log.json

#External Apis
SUPADATA_API_KEY = "your_supadata_api_key"  # For youtube transcript
GITHUB_TOKEN = "your_github_token" #For github access

#Telegram`
TELEGRAM_BOT_TOKEN="your_bot_token_from_botfather"